In [5]:
import json                          # imports json module
import numpy as np                   # imports numpy as np
import csv                           # imports csv
import scrapy
import pandas as pd

In [1]:
import os 
#full path

#current dir

In [2]:
cwd

NameError: name 'cwd' is not defined

In [3]:
os.chdir("C:/Users/31642/Desktop/")

In [4]:
os.getcwd()

'C:\\Users\\31642\\Desktop'

In [2]:
# This creates a function that puts the json.gz data in a pandas DataFrame 

import pandas as pd
import gzip
import json

def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield json.loads(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

In [3]:
# Makes a dataframe out of a .json.gz file

#df = getDF("C:/Users/31642/Desktop/Thesis/meta_Clothing_Shoes_and_Jewelry.json.gz")
#df2 = getDF("C:/Users/31642/Desktop/Thesis/meta_Appliances.json.gz")
#df3 = getDF("C:/Users/31642/Desktop/Thesis/meta_Appliances.json.gz")

In [4]:
# Length of Data frame 
# len(df)

30445

In [52]:
# Test by making a new variable and indexing a specific column 
# tit = df['title']

# calling the new variable made above"[6]"
# tit

# subsetting the necessary columns for image extraction
# df_1 = df[['asin', 'category', 'description','imageURLHighRes']]

# subsetting the necessary columns for description extraction
# df_2 = df_1[['asin', 'description']]

# creating a lambda function that removes empty lists under 'description' within the dataframe
# df_3 = df_2[df_2['description'].map(lambda d: len(d)) > 0]

# write the dataframe to .csv file 
# df_3.to_csv('description_electronics.csv')

# call df where values under description have a length equal to zero 
# df_1[df_1["description"].str.len() == 0]

# creating a lambda function that removes empty lists under 'description' within the dataframe
# df_2 = df_1[df_1['description'].map(lambda d: len(d)) > 0]

# call the new dataframe where empty lists under 'description' have been removed
# df_2

# creating a lambda function that removes empty lists under 'imageURLHighRes' within the dataframe
# removes values where the length is 0 "basically no link present"
# df_3 = df_2[df_2['imageURLHighRes'].map(lambda d: len(d)) > 0]

# call the newly created dataframe from above
# df_3

# sets 'asin' as index idk why I did this
# df_4 = df_3.set_index('asin')

In [11]:
# recheck URLs in df_3
# df_3['imageURLHighRes']

In [53]:
# Make .csv file out of ASIN 
# df_3.to_csv('ASIN_CAT_URL2.csv')

In [ ]:
# Download URLs from CSV

# import csv
# import requests

# i = 0 

# with open('ASIN_CAT_URL_FIN_ELECTRONICS2.csv') as csvfile:
    #csvrows = csv.reader(csvfile, delimiter=',', quotechar='"')
    #for row in csvrows:
        #filename = row[0] + '_' + row[1] + '.jpg'
        #url = row[2]
        #result = requests.get(url, stream=True)
        #if result.status_code == 200:
            #i += 1
            #image = result.raw.read()
            #open(filename,"wb").write(image)
            #print(i)

In [106]:
# Define function that Retrieves Product Codes (ASIN) from list of filenames through indexing

import os
def getListOfFiles(dirName):
    # create a list of file and sub directories 
    # names in the given directory 
    listOfFile = os.listdir(dirName)
    allFiles = list()
    # Iterate over all the entries
    for entry in listOfFile:
        # Create full path
        fullPath = os.path.join(dirName, entry)
        # If entry is a directory then get the list of files in this directory 
        if os.path.isdir(fullPath):
            allFiles = allFiles + getListOfFiles(fullPath)
        else:
            allFiles.append(fullPath[48:])
                
    return allFiles

In [107]:
# Call defined function on a new variable

# cloth_asin = getListOfFiles("New Data_Images+Desc/Clothing_Shoes_and_Jewelry/")

In [108]:
# Create PANDAS dataframe from new variable

# cloth_df = pd.DataFrame(cloth_asin)

In [110]:
# save dataframe to .csv file

# cloth_df.to_csv("fn_df.csv")

In [5]:
# Load .gz file into new dataframe

# df_clothes = getDF("C:/Users/31642/Desktop/Thesis/meta_Clothing_Shoes_and_Jewelry.json.gz")

In [8]:
# Create new dataframe with Product code and Corresponding Description

# df_clothes2 = df_clothes[['asin', 'description']]

In [9]:
# check new dataframe 
# df_clothes2

               asin                                        description
0        0000037214  [6" long, stretched waist measures 11 1/2" acr...
1        0201377179  [The Hottest Bag in Town! Brand: Anello Condit...
2        0204444454  [The Hottest Bag in Town! Brand: Anello Condit...
3        0204444403  [The Hottest Bag in Town! Brand: Anello Condit...
4        0206313535  [Brand New.  Hat Centre Length: adult about 8c...
...             ...                                                ...
2685054  B01HJHR8A6  [Size Length Hip*2 Age Advice 70 39.5 CM 30 CM...
2685055  B01HJHA4W0  [Soludos are made in US whole sizes. If you ar...
2685056  B01HJHQR1W                                                 []
2685057  B01HJH8JBI  [This classic plain toe style is anything but ...
2685058  B01HJHFS58  [CUPSHE Intro To inspire confidence and beauty...

[2685059 rows x 2 columns]

In [54]:
# load product codes and descriptions in new data frame

# df3 = pd.read_csv("C:/Users/31642/Desktop/Thesis/asin_desc_list.csv")

In [ ]:
# df3

In [47]:
# Check which ASIN from clean dataset are in raw dataset so,
# we can edit the CSV and append the corresponding product descriptions

# new_df = df_clothes2.assign(ASIN_in_DF3 = df_clothes2['asin'].isin(df3['asin']))

In [48]:
# Call new_df to see if the column has been appended with booleans 
# True = ASIN from raw dataset is in cleaned dataset
# False = ASIN from raw dataset is not present in cleaned dataset

# new_df

,asin,description,ASIN_in_DF3
0,0000037214,"[6"" long, stretched waist measures 11 1/2"" acr...",False
1,0201377179,[The Hottest Bag in Town! Brand: Anello Condit...,False
2,0204444454,[The Hottest Bag in Town! Brand: Anello Condit...,False
3,0204444403,[The Hottest Bag in Town! Brand: Anello Condit...,False
4,0206313535,[Brand New. Hat Centre Length: adult about 8c...,False
...,...,...,...
2685054,B01HJHR8A6,[Size Length Hip*2 Age Advice 70 39.5 CM 30 CM...,False
2685055,B01HJHA4W0,[Soludos are made in US whole sizes. If you ar...,False
2685056,B01HJHQR1W,[],False
2685057,B01HJH8JBI,[This classic plain toe style is anything but ...,False
2685058,B01HJHFS58,[CUPSHE Intro To inspire confidence and beauty...,False

In [50]:
# save the newly created dataframe into a csv file

# new_df.to_csv("new_asin_desc_df.csv")

In [46]:
# df_new = pd.read_csv("C:/Users/31642/new_asin_desc_df.csv")

C:\Users\31642\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
df_dob=pd.read_csv("Book22.csv", header=0)

In [14]:
df_dob

,tag,tag2
0,"[""'<WOMEN>'"", "" 'ring'"", "" 'ring'"", "" 'for'"",...","['lucky', 'brand', 'is', 'true', 'blue', 'amer..."
1,"[""'<WOMEN>'"", ' ""\'s""', "" 'hat'"", "" 'cap'"", ""...","['more', 'than', 'just', 'a', 'precision', 'ti..."
2,"[""'<NONE>'"", "" 'party'"", "" 'wear'"", "" 'for'"",...","['leather', 'walking', 'shoe', 'with', 'rocker..."
3,"[""'<WOMEN>'"", "" 'fabric'"", "" 'necklace'"", "" ...","['when', 'you', 'want', 'to', 'go', 'just', 'g..."
4,"[""'rings'"", "" 'diamond'"", "" 'ring'"", "" 'luxu...","['made', 'in', 'genuine', '925', 'sterling', '..."
...,...,...
4245,"[""'<NONE>'"", "" 'party'"", "" 'wear'"", "" 'for'"",...","['converse', 'a/s', 'ox', 'athletic', 'boys', ..."
4246,"[""'<BABY>'"", "" 'shoes'"", "" 'baby'"", "" 'sneake...","['the', 'autumn', 'leaves', 'depicted', 'on', ..."
4247,"[""'<NONE>'"", "" 'western'"", "" 'boots'"", "" 'wes...","['appropriately', 'named', 'for', 'the', 'year..."
4248,"[""'travel'"", "" 'gear'"", "" 'luaggage'"", "" 'gea...","['columbia', 'offers', 'a', 'wide', 'variety',..."
4249,"[""'<WOMEN>'"", "" 'costume'"", "" 'for'"", "" 'kids'...","['go', 'back', 'to', 'the', 'basics', 'with', ..."

In [ ]:
df_dob_2 = df_dob1[df_dob['description'].map(lambda d: len(d)) > 0]